@charset "UTF-08";

/* Todas as Demais Medias */

/* Typical device breakpoints
----------------------------
Celular: até 768px
Tablet: acima de 768px
Desktop: 768px até 992px
Tv: acima de 992px
Grandes Telas: acima de 1200px */

@media print {

}

@media screen and (min-width: 768px) and (max-width: 992px)  {
  body{
    background-image: url(../imagens/back-tablet.jpg);

  }

  img#fone{display: none;}
  img#tablet {display: block;}
  img#print{display: none;}
  img
  
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  
}

@media screen and (min-width: 1200px) {
  
}

